.hero {
    padding-top: 92px;
    background: #262A40;
    &::before {}
    &__wrap {
        position: relative;
        display: flex;
        justify-content: center;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 25%;
    }
    &__title {
        font-size: calc(20px + 61 * (100vw/1440));
        max-width: 30%;
    }
    &__title_mobile {
        display: none;
    }
    &__descr {
        font-size: calc(20px + 8 * (100vw/1440));
        margin-bottom: 17px;
    }
    &__btn {
        align-self: flex-start;
        font-size: calc(18px + 7 * (100vw/1440));
        font-weight: 700;
        padding: 1.2vw 3.1vw;
        border-radius: 21px;
        background: $eminence;
        &:hover {}
    }
}

@media(max-width: 1260px) {
    .hero {
        padding-top: 200px;
    }
}

@media(max-width: 768px) {
    .hero {
        padding-top: 64px;
        &__wrap {
            flex-direction: column;
        }
        &__content {
            flex-direction: column;
            transform: none;
            position: static;
        }
        &__right {
            max-width: 100%;
            align-items: center;
            padding: 13px 30px 22px 30px;
        }
        &__descr {
            text-align: center;
            margin-bottom: 21px;
        }
        &__btn {
            align-self: center;
            padding: 13px 39px;
        }
        &__title {
            display: none;
        }
        &__title_mobile {
            max-width: 100%;
            text-align: center;
            padding-top: 24px;
            display: block;
        }
    }
}

@media(max-width: 576px) {
    .hero {
        &__title {
            font-size: 35px;
        }
        &__descr {
            font-size: 20px;
        }
        &__btn {
            font-size: 18px;
        }
    }
}
